.homepage {

  .homepage__description {
    
  }

  .stat {
    display: flex;
    flex-direction: column;
    
    .stat__block {
      flex: 1;
    }
  }

  .stats__charts {
    // max-width: 700px;
  }

  .homepage__stats {
      display: flex;
      flex-wrap: wrap;

    .homepage__stat__block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      max-width: 200px;

      .homepage__stat__title {
        padding: 1rem;
        text-align: center;
      }
      .homepage__stat__number {
        padding: 1rem;
        font-size: 2rem;
      }
    }
  }
}

.homepage__subtitle {
  margin-bottom: 1rem!important;
}

.join__the__discord__button__container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // box-sizing: border-box;

  .join__the__discord__button__divide {
    flex: 1;
  }
  .join__the__discord__button {
    flex: 6;
    width: 90%;
    font-size: 2rem;
    border: 5px solid black;
    padding: 1.5rem;  
  color: black;

  }  
}

.join__the__discord__button:hover {
  box-shadow: -5px 5px 0px 0px cyan;
}

.nfd__bot__container {
  
}


@media screen and (min-width: 420px) {
  .homepage {
  }
}


@media screen and (min-width: 768px) {
  .homepage {
  }
}

