.homepage {

  .homepage__title {
  }

  .homepage__subtitle {
    margin-top: 3rem;
  }

  .homepage__description {
    
  }

.stat {
  display: flex;
  flex-direction: column;
  
  .stat__block {
    flex: 1;
  }
}

  .stats__charts {
    // max-width: 700px;
  }

  .homepage__stats {
      display: flex;
      flex-wrap: wrap;

    .homepage__stat__block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      max-width: 200px;

      .homepage__stat__title {
        padding: 1rem;
        text-align: center;
      }
      .homepage__stat__number {
        padding: 1rem;
        font-size: 2rem;
      }
    }
  }
}


@media screen and (min-width: 420px) {
  .homepage {
  }
}


@media screen and (min-width: 768px) {
  .homepage {
  }
}

