.navbar {
  display: flex;
  flex-wrap: wrap;

  .navbar__link {
    padding: 1.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
  }

  .navbar__link:hover { 
    background: lightgrey;
  }
}